input.ng-valid.ng-touched {
    border-color: lightgreen;
}

input.ng-invalid.ng-touched {
    border-color: lightcoral;
}

.error {
    color: tomato
}

textarea.ng-valid.ng-touched {
    border-color: lightgreen;
}

textarea.ng-invalid.ng-touched {
    border-color: lightcoral;
}