@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


img {
    width: 200px;
    border-radius: 15px;
}

select {
    width: 200px;
}

h3 {
    font-family: 'Pacifico', cursive;
}