<div class="filtro">
    <select (change)="onChange($event)" class="form-control mt-3">
        <option value="">Selecciona una categoria</option>
        <option value="general">General</option>
        <option value="actualidad">Actualidad</option>
        <option value="viajes">Viajes</option>
        <option value="curiosidades">Curiosidades</option>
    </select>
</div>
<div class="posts row">
    <div class="post col-md-6 offset-md-3" *ngFor="let post of posts">

        <h3>{{post.titulo}}</h3>
        <img [src]="post.imagen">
        <p class="text-success">{{(post.categoria.toUpperCase())}}</p>
        <p>{{post.texto}}</p>
        <p class="text-muted">{{post.autor}} - {{post.fecha | date}}</p>


    </div>
</div>