<div class="posts">
    <div class="filtro">
        <select (change)="onChange($event)">
            <option value="">Selecciona una categoria</option>
            <option value="general">General</option>
            <option value="actualidad">Actualidad</option>
            <option value="viajes">Viajes</option>
            <option value="curiosidades">Curiosidades</option>
        </select>
    </div>
    <div class="post" *ngFor="let post of posts">

        <h3>{{post.titulo}}</h3>
        <h4>{{post.autor}}</h4>
        <img [src]="post.imagen">
        <p>{{post.fecha}}</p>
        <p>{{post.categoria}}</p>
        <p>{{post.texto}}</p>

    </div>
</div>